@model KK.ViewModels.Kartavm.KartaVM

<h1>Karta kupljena</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cijena</th>
            <th>Voznja</th>
            <th>Vlasnik</th>


        </tr>
    </thead>
    <tbody>
       
        <tr>
            <td>@Model.ID</td>
            <td>@Model.Cijena</td>
            <td>@Model.Voznja</td>
            <td>@Model.Vlasnik</td>


        </tr>
        

    </tbody>
</table>